table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableheader {
    position: sticky;
    top:0;
    background-color: red;
    z-index: 9999
  }

  td, th{
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button {
    background-color: rgb(62, 62, 225);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: medium;
    box-shadow: none;
    border:0;
}
